{% extends 'base.html.twig' %}

{% block title %}Recycling Win{% endblock %}

{% block body %}
<div class="row aze">
    <form method="post" class="log text-center border border-light p-5 col-lg-6" action="#!">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
        <div class="mb-4">
            You are logged in as {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% endif %}

        {# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    > #}

        <!-- Default form login -->


        <p class="h4 mb-4">Se connecter</p>

        <!-- Email -->
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4"
            placeholder="E-mail" required autofocus>

        <!-- Password -->
        <input type="password" name="password" for="inputPassword" class="form-control mb-4" placeholder="Mot de passe"
            required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4 " type="submit">Connecter</button>

        <!-- Register -->
        <p>Viens rejoindre la communauté des win recycleurs !
            <a href="{{ path('app_register') }}">S'inscrire</a>
        </p>


        <!-- Default form login -->

        {# <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button> #}
    </form>
    <section class="col-lg-6">

        <div class=" col-md-6 mb-4">

            <h2 class="my-5">Jeu</h2>

            <img class="jeu" alt="" src="{{asset('images/jeux1.png')}}" data-holder-rendered="true">

            <a  href="https://www.simplonlyon.fr/promo12/sdaoudi/jeux-javascript/" class="jeu1 btn btn-success">Jouer</a>
        </div>
    </section>
</div>

{% endblock %}