{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<section>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <form action="{{path('search_results')}}">
                    <input class="search_input" type="text" name="Search" placeholder="Search...">
                    <button class="search_icon"><i class="fas fa-search"></i></button>
                </form>

            </div>
        </div>
    </div>
</section>

<div class="produit">Produits courant</div>


<div class="row">
    {% for contenu in contenus %}
    <div class=" col-lg-2 col-md-3 align-items-xl-stretch">

        <!-- Card -->
        <div class=" cards card testimonial-card align-items-xl-stretch">

            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>

            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="{{contenu.imageLien}}" class="rounded-circle" alt="woman avatar">
            </div>

            <!-- Content -->
            <div class="card-body mx-auto">
                <!-- Name -->
                <h4 class="card-title">{{contenu.Nom}}</h4>
                <!-- Quotation -->
                <p>
                    Matiere: {{contenu.Matiere}}
                </p>
                <p>
                    Points: {{contenu.Prix}}
                </p>
            </div>
            <button class="btn btn-default"><a href="{{ path('bac_add', {'id': contenu.id}) }}">Recycler</a></button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}