{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="container-fluid mt-2">
    <div class="row d-flex justify-content-center">
        <div class="card col-10 mb-4 text-center">
            <div class="card-header">
                <h5 class="card-title">{{app.user.pseudo}}</h5>
                <div>
                    <a href="{{ path('supprimer_profil', {id:app.user.id}) }}" onclick="return confirm('Etes vous sure de vouloir supprimez votre profil?')"><i class="fas fa-trash"></i></a>
                    <a href="{{ path('modifier_profil', {id:app.user.id}) }}"><i class="far fa-address-card"></i></a>
                </div>
            </div>
            <div class="card-body">

                <div class="d-flex flex-row">
                    <img src="{{asset (app.user.imageLien) }}" class="card-img img-fluid img-thumbnail rounded mb-2"
                        alt="Responsive image" style="max-width: 600px;max-height: 600px">
                    <ul class="card-text text-left">
                        <li>Adresse:
                            {{app.user.adresse}}
                        </li>
                        <li>
                            Ville: {{app.user.ville}}
                            {{app.user.codePostal}}
                        </li>
                        <li>Email:
                            {{app.user.email}}
                        </li>
                    </ul>

                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}