{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block body %}
<h1 class="register">Modifier profil</h1>

 <div class="container">
    <div class="row">

        <div class="col-lg-6">
            {{form_start(form)}}
            {{form_row(form.email)}}
            {{form_row(form.pseudo)}}
            {{form_row(form.adresse)}}
            {{form_row(form.codePostal)}}
        </div>

        <div class="col-lg-6">
            {{form_row(form.ville)}}
            {{form_row(form.imageLien)}}
            {{form_row(form.password)}}
            {{form_row(form.password)}} 
            <button class="btn btn-info text-secondary "><a href="{{ path('profil') }}">Valider</a></button>
        </div>
        {{form_end(form)}}

    </div>
</div> 
{% endblock %}