.navbar{
    background: lightgreen !important;
}
.inscrit{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#button{
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

.page-footer{    
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgreen;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

.searchbar:hover .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

.searchbar:hover  .search_icon{
    background: white;
    color: #e74c3c;
    }

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:red;
    text-decoration:none;
    }

.form-control{
    border-radius: 150px;
}

.jeu{
    border-radius: 250px;
}

h2{
    text-align: center;
}

.jeu1{
  border-radius: 50px;
 margin-left: 150px;
}

.register{
    text-align: center;
}

.produit{
   margin-left: auto;
   margin-right: auto;

}

h1{
    text-align: center;  
     margin-right: auto;
    color: black;
    font-family: 'Lobster', cursive;
}

.cards{
    background-color: lightgreen;
    height: 280px;
}

.card-img, .card-img-top{
    width: 150px;
	height: 150px ;
}

