{% extends 'base.html.twig' %}

{% block title %}Hello ContenuController!{% endblock %}

{% block body %}
<div class="row">
    {% for contenu in contenus %}
    <div class="col-12 col-md-3">

        <!-- Card -->
        <div class="card testimonial-card">

            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>

            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="{{contenu.imageLien}}" class="rounded-circle" alt="woman avatar">
            </div>

            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h4 class="card-title">{{contenu.Nom}}</h4>
                <hr>
                <!-- Quotation -->
                <p>
                    Matiere: {{contenu.Matiere}} 
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
