{% extends 'base.html.twig' %}
{% block body %}

<button class="btn btn-danger"><a href="{{path('home')}}">Retour</a></button>
<div class="container">

    <div class="row justify-content-center">
        {% if found is defined and found == true %}
        <div class="alert alert-danger fade show" role="alert">
            <strong>Désole</strong> nous avons pas saisi votre demande
            <a href="{{path('home')}}" class="btn btn-outline-light">close</a>
        </div>
        {% endif %}
    </div>

</div>

<div class="row">
    {% for contenus in contenu %}
    <div class=" col-lg-2 col-md-3 align-items-xl-stretch">

        <!-- Card -->
        <div class=" cards card testimonial-card align-items-xl-stretch">

            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>

            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="{{contenus.imageLien}}" class="rounded-circle" alt="woman avatar">
            </div>

            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h4 class="card-title">{{contenus.Nom}}</h4>
                <!-- Quotation -->
                <p>
                    Matiere: {{contenus.Matiere}} 
                </p>
                <p>
                    Points: {{contenus.Prix}}
                </p>
            </div>
            <button class="btn btn-default"><a href="{{ path('bac_add', {'id': contenus.id}) }}">Recycler</a></button>
        </div>
    </div>
    {% endfor %}
</div>




{% endblock %}