{% extends 'base.html.twig' %}

{% block title %}Hello BacManagerController!{% endblock %}

{% block body %}

<section class="row">

    {% for bac in bacs %}
    <!-- Card Narrower -->
    <div class=" col-lg-4 card card-cascade narrower">
        <!-- Card image -->
        <div class="view view-cascade overlay">
            {% if bac.couleur == "jaune" %}
            <img class="card-img-top" src="{{asset('images/Jaune.png')}}" alt="Card image cap">
            {% endif %}
            {% if bac.couleur == "vert" %}
            <img class="card-img-top" src="{{asset('images/Vert.png')}}" alt="Card image cap">
            {% endif %}
            {% if bac.couleur == "gris" %}
            <img class="card-img-top" src="{{asset('images/Gris.png')}}" alt="Card image cap">
            {% endif %}
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!-- Card content -->
        <div class="card-body card-body-cascade">
            <!-- Label -->
            <h5 class="pink-text pb-2 pt-1">
                <img src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png">
                {{bac.couleur}}
            </h5>
            <!-- Title -->
            <h4 class="font-weight-bold card-title">Recapitulatif</h4>
            <!-- Text -->
            <p class="card-text">Nombre de points :{{bac.total}}</p>

            {% if bac.couleur == "jaune" %}
            <p class="card-text">Contenu :
                {% for yellow in contents[0] %}
                <img src="{{yellow}}" alt="">
                {% endfor %}
            </p>
            {% endif %}
            {% if bac.couleur == "vert" %}
            <p class="card-text"> Contenu :
                {% for green in contents[2] %}
                <img src="{{green}}" alt="">
                {% endfor %}
            </p>
            {% endif %}
            {% if bac.couleur == "gris" %}
            <p class="card-text">Contenu :
                {% for grey in contents[1] %}
                <img src="{{grey}}" alt="">
                {% endfor %}
            </p>
            {% endif %}

            <!-- Button -->
            <a class="btn btn-warning" href="{{path('supprimer_panier', {'id': bac.id})}}">Vider</a>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}