<!-- <div class="row">
  <div class="col-12">
    
  </div>
</div> -->

<!--Navbar -->

<nav class=" navbar navbar-expand-lg navbar-dark   ">
  <a class="navbar-brand" href="#"></a>


  <div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
      <li class="nav-item active">
        <a href="{{path('app_login')}}">
          <h1> <img src="{{asset('images/logo.png')}}" alt="">WIN RECYCLE</h1> 
        </a>
        <p class="slogan">Recycler, tout a y gagner !</p>
      </li>
    </ul>
  </div>
  </div>

  {% if app.user %}


  <ul class="navbar-nav ml-auto nav-flex-icons">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <a class="nav-link text-dark" href="{{path('home')}}">Accueil
        <span class="sr-only">(current)</span>
      </a>
      <div class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Mon profil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('bac_manager')}}">Mes bacs
          </a>
          <a class="dropdown-item" href="{{path('profil')}}">Profil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{path('app_logout')}}">Deconnexion</a>
        </div>
      </div>


      <li class="nav-item avatar">
        <a class="nav-link p-0" href="{{path('profil')}}">
          <img src="{{app.user.imageLien}}" class="rounded-circle z-depth-0" alt="avatar image" height="35">
        </a>
      </li>
    </div>
  </ul>
  {% endif %}
</nav>
<!--/.Navbar -->